ocen/WEB-INF/classes/com/soluzionasf/ocen/bdi/ws/enagas/wsdl/ZWS_PM_ESTRUCT_FIS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
	<wsdl:documentation>
		<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
	</wsdl:documentation>
	<wsp:UsingPolicy wsdl:required="true"/>
	<wsp:Policy wsu:Id="BN__ZWSbinding">
		<wsp:ExactlyOne>
			<wsp:All>
				<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
				<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
				<saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
				<wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
					<sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken>
										<wsp:Policy>
											<sp:HttpBasicAuthentication/>
										</wsp:Policy>
									</sp:HttpsToken>
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15/>
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict/>
								</wsp:Policy>
							</sp:Layout>
						</wsp:Policy>
					</sp:TransportBinding>
				</wsp:All>
			</wsp:All>
			<wsp:All>
				<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
				<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
				<saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
				<wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
					<sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken>
										<wsp:Policy>
											<sp:HttpBasicAuthentication/>
										</wsp:Policy>
									</sp:HttpsToken>
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15/>
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict/>
								</wsp:Policy>
							</sp:Layout>
						</wsp:Policy>
					</sp:TransportBinding>
				</wsp:All>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="BN__ZWSbinding_soap12">
		<wsp:ExactlyOne>
			<wsp:All>
				<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
				<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
				<saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
				<wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
					<sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken>
										<wsp:Policy>
											<sp:HttpBasicAuthentication/>
										</wsp:Policy>
									</sp:HttpsToken>
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15/>
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict/>
								</wsp:Policy>
							</sp:Layout>
						</wsp:Policy>
					</sp:TransportBinding>
				</wsp:All>
			</wsp:All>
			<wsp:All>
				<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
				<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
				<saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
				<wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
					<sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken>
										<wsp:Policy>
											<sp:HttpBasicAuthentication/>
										</wsp:Policy>
									</sp:HttpsToken>
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15/>
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict/>
								</wsp:Policy>
							</sp:Layout>
						</wsp:Policy>
					</sp:TransportBinding>
				</wsp:All>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="IF__ZWS_PM_ESTRUCT_FIS">
		<wsp:ExactlyOne>
			<wsp:All>
				<sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
					<sapsession:enableSession>false</sapsession:enableSession>
				</sapsession:Session>
				<sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
					<sapcentraladmin:BusinessApplicationID>AC162D1EE0221ED69496C550E6569900</sapcentraladmin:BusinessApplicationID>
				</sapcentraladmin:CentralAdministration>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="OP__ZPM_ESTRUCTURA_FIS">
		<wsp:ExactlyOne>
			<wsp:All>
				<saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
				<sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
				<sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
				<saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:types>
		<xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
			<xsd:simpleType name="char1">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char12">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="12"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char16">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="16"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char18">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="18"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char25">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="25"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char254">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="254"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char3">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="3"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char30">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="30"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char4">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="4"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char40">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="40"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char8">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="8"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char90">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="90"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="date10">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="10"/>
					<xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:complexType name="ZPM_CAB_PETICION_ENT">
				<xsd:sequence>
					<xsd:element name="DESTINATARIO" type="tns:char3"/>
					<xsd:element name="FECHA_HORA_PETICION" type="tns:char16"/>
					<xsd:element name="ENTRYPOINT" type="tns:string"/>
					<xsd:element name="ID_MENSAJE" type="tns:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZPM_DATOS_SOLIC_ENT">
				<xsd:sequence>
					<xsd:element name="PLANTA" type="tns:char4"/>
					<xsd:element name="CLASE_OBJETO" type="tns:char4"/>
					<xsd:element name="OBJETO" type="tns:char90"/>
					<xsd:element name="USUARIO_OBJETO" type="tns:char12"/>
					<xsd:element name="FLAG_CLASIFICACION" type="tns:char1"/>
					<xsd:element name="DESDE_FECHA" type="tns:char8"/>
					<xsd:element name="DESDE_HORA" type="tns:char8"/>
					<xsd:element name="HASTA_FECHA" type="tns:char8"/>
					<xsd:element name="HASTA_HORA" type="tns:char8"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZPM_DAT_RESPUESTA_SAL">
				<xsd:sequence>
					<xsd:element name="CENTRO" type="tns:char4"/>
					<xsd:element name="FECHA_CREACION" type="tns:date10"/>
					<xsd:element name="FECHA_MODIFICACION" type="tns:date10"/>
					<xsd:element name="OBJETO" type="tns:char90"/>
					<xsd:element name="TIPO_OBJETO" type="tns:char4"/>
					<xsd:element name="SUPERIOR_EQ" type="tns:char18"/>
					<xsd:element name="SUPERIOR_FL" type="tns:char30"/>
					<xsd:element name="TECHID" type="tns:char25"/>
					<xsd:element name="ACCION" type="tns:char1"/>
					<xsd:element name="ACTUALIZACIONES" type="tns:ZPM_ACTUALIZACIONES"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZPM_ACTUALIZACIONES_STR">
				<xsd:sequence>
					<xsd:element name="FIELD" type="tns:char30"/>
					<xsd:element name="DESCRIPCION" type="tns:char40"/>
					<xsd:element name="OLDVALUE" type="tns:char254"/>
					<xsd:element name="NEWVALUE" type="tns:char254"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZPM_CAB_RESPUESTA_SAL">
				<xsd:sequence>
					<xsd:element name="REMITENTE" type="tns:char3"/>
					<xsd:element name="FECHA_RESPUESTA" type="tns:char16"/>
					<xsd:element name="ID_MENSAJE" type="tns:string"/>
					<xsd:element name="EJECUCION_OK" type="tns:char1"/>
					<xsd:element name="ID_ERROR" type="tns:string"/>
					<xsd:element name="ID_MSG" type="tns:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZPM_TAB_RESPUESTA_SAL">
				<xsd:sequence>
					<xsd:element name="item" type="tns:ZPM_DAT_RESPUESTA_SAL" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZPM_ACTUALIZACIONES">
				<xsd:sequence>
					<xsd:element name="item" type="tns:ZPM_ACTUALIZACIONES_STR" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ZPM_ESTRUCTURA_FIS">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="I_CABECERAENVIO" type="tns:ZPM_CAB_PETICION_ENT" minOccurs="0"/>
						<xsd:element name="I_DATOSRECIBIDOS" type="tns:ZPM_DATOS_SOLIC_ENT" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ZPM_ESTRUCTURA_FISResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="E_CABECERARESPUESTA" type="tns:ZPM_CAB_RESPUESTA_SAL"/>
						<xsd:element name="E_DATOSENVIADOS_TAB" type="tns:ZPM_TAB_RESPUESTA_SAL"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ZPM_ESTRUCTURA_FIS">
		<wsdl:part name="parameters" element="tns:ZPM_ESTRUCTURA_FIS"/>
	</wsdl:message>
	<wsdl:message name="ZPM_ESTRUCTURA_FISResponse">
		<wsdl:part name="parameter" element="tns:ZPM_ESTRUCTURA_FISResponse"/>
	</wsdl:message>
	<wsdl:portType name="ZWS_PM_ESTRUCT_FIS">
		<wsp:Policy>
			<wsp:PolicyReference URI="#IF__ZWS_PM_ESTRUCT_FIS"/>
		</wsp:Policy>
		<wsdl:operation name="ZPM_ESTRUCTURA_FIS">
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP__ZPM_ESTRUCTURA_FIS"/>
			</wsp:Policy>
			<wsdl:input message="tns:ZPM_ESTRUCTURA_FIS"/>
			<wsdl:output message="tns:ZPM_ESTRUCTURA_FISResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ZWSbinding" type="tns:ZWS_PM_ESTRUCT_FIS">
		<wsp:Policy>
			<wsp:PolicyReference URI="#BN__ZWSbinding"/>
		</wsp:Policy>
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="ZPM_ESTRUCTURA_FIS">
			<soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZWS_PM_ESTRUCT_FIS:ZPM_ESTRUCTURA_FISRequest" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ZWSbinding_soap12" type="tns:ZWS_PM_ESTRUCT_FIS">
		<wsp:Policy>
			<wsp:PolicyReference URI="#BN__ZWSbinding_soap12"/>
		</wsp:Policy>
		<wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="ZPM_ESTRUCTURA_FIS">
			<wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZWS_PM_ESTRUCT_FIS:ZPM_ESTRUCTURA_FISRequest" style="document"/>
			<wsdl:input>
				<wsoap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsoap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ZWS_PM_ESTRUCT_FIS">
		<wsdl:port name="ZWSbinding" binding="tns:ZWSbinding">
			<soap:address location="http://SAPC12.enapre.pre:8000/sap/bc/srt/rfc/sap/zws_pm_estruct_fis/200/zws_pm_estruct_fis/zwsbinding"/>
		</wsdl:port>
		<wsdl:port name="ZWSbinding_soap12" binding="tns:ZWSbinding_soap12">
			<wsoap12:address location="http://SAPC12.enapre.pre:8000/sap/bc/srt/rfc/sap/zws_pm_estruct_fis/200/zws_pm_estruct_fis/zwsbinding"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>